@(
    top10: Vector[(String, Vector[Airport])],
    bottom10: Vector[(String, Vector[Airport])]
)

@main("Report") {

    @partials.navbar()

    <section class="section">
        <div class="container is-fluid">

            <h2>Top 10 countries: highest number of airports</h2>

            @top10.map { item =>
                @item._1 :
                @item._2.size
                <br>
            }

            <br>

            <h2>Top 10 countries: lowest number of airports</h2>

            @bottom10.map { item =>
                @item._1 :
                @item._2.size
                <br>
            }

        </div>
    </section>

}
